<style>
    .status {
        padding: 1em;
        margin: 1em;
        text-align: center;
        color: white;
    }

    #busy {
        background-color: red;
    }

    #offline {
        background-color: orange;
    }

    #free {
        background-color: green;
    }
</style>

<template type="text/html">
    <div>
        <div id="busy" class="status" v-if="zoomStatus.zoomActive===true">
            На звонке &#128222;
        </div>

        <div id="offline" class="status" v-if="zoomStatus.zoomActive===undefined">
            Нет связи &#8987;
        </div>

        <div id="free" class="status" v-if="zoomStatus.zoomActive===false">
            Жду тебя &#9749;
        </div>

        <div id=error v-if="lastError !== undefined">
            <button @click="showError()" v-if="!errorVisible">Show error</button>
            <button @click="hideError()" v-if="errorVisible">Hide error</button>
            <section v-if="errorVisible">
                <h3>{{ lastError.name }}</h3>
                <h4>{{ lastError.message }}</h4>
                <blockquote>{{ JSON.stringify(lastError) }}</blockquote>
            </section>
        </div>
    </div>
</template>

<script>
import DeviceStatusListener from './DeviceStatusListener'

const SECOND = 1000
const RETRY_DELAY = 10 * SECOND
const NEXT_DELAY = 0.1 * SECOND

const machineId = window.location.hash.substring(1)
console.log(`Machine ID ${machineId}`)

export default {
    data() {
        return {
            zoomStatus: this.unknowZoomStatus(),
            lastError: undefined,
            errorVisible: false,
        }
    },
    mounted() {
        new DeviceStatusListener(machineId, (deviceStatus) => {
            this.zoomStatus = {
                zoomActive: deviceStatus.videoEnabled
            }
        })
    },
    methods: {
        unknowZoomStatus() {
            return {
                zoomActive: undefined
            }
        },
        showError() {
            this.errorVisible = true
        },
        hideError() {
            this.errorVisible = false
        },
    }
}
</script>
